#CrystalCollector {
      font-size: 24px;
      color: white;
      background-color: rgb(207, 102, 15);
      width: 30%;
      padding-bottom: 20px;
      padding-top: 20px;  
      text-align: center;
      margin-left: 10px;
      margin-top: 10px;
}

#CrystalInstructions {
    font-size: 16px;
    color:green;
    background-color: blanchedalmond;
    width: 60%;
    padding-bottom: 20px;
    padding-top: 20px;  
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
}

.indentText {
    margin-left: 10px;
}

#TargetBox {
    font-size: 20px;
    font-style: bold;
    color: rgb(255, 0, 157);
    background-color: lightgreen;
    width: 20%;
    height: 30%;
    text-align: center;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 31px;
    padding-bottom: 31px;
    size: absolute;
}

#ScoreBox {
    font-size: 16px;
    font-style: bold;
    color: rgb(255, 0, 76);
    background-color: lightskyblue;
    width: 9%;
    height: 30%;
    text-align: left;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    size: absolute;
}

.imagesDiv {
    clear: both;
}

.imageDiv {
    background-color: blanchedalmond;
    float: left;
    margin: 10px;
}

.imageDiv:hover {
    background-color: aqua;
    transition: 0.7s
}

#yourScoreIs {
    clear: both;
    font-size: 12px;
    font-style: bold;
    color:white;
    background-color: rgb(0, 100, 42);
    width: 18%;
    height: 10%;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#yourScore {
    font-size: 12px;
    font-style: bold;
    color:white;
    background-color: rgb(0, 100, 42);
    width: 18%;
    height: 10%;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
